# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
ConsoleApp1/obj/Debug/ConsoleApp1.exe
ConsoleApp1/bin/Debug/ConsoleApp1.pdb
UnitTestApp1/bin/Debug/ConsoleApp1.pdb
UnitTestApp1/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
UnitTestApp1/obj/Debug/UnitTestApp1.csprojResolveAssemblyReference.cache
UnitTestApp1/obj/Debug/UnitTestApp1.dll
ConsoleApp1/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ConsoleApp1/obj/Debug/ConsoleApp1.pdb
UnitTestApp1/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
UnitTestApp1/bin/Debug/UnitTestApp1.pdb
UnitTestApp1/bin/Debug/ConsoleApp1.exe
UnitTestApp1/obj/Debug/UnitTestApp1.pdb
ConsoleApp1/obj/Debug/ConsoleApp1.csprojResolveAssemblyReference.cache
ConsoleApp1/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
UnitTestApp1/bin/Debug/Microsoft.VisualStudio.QualityTools.UnitTestFramework.xml
UnitTestApp1/bin/Debug/Microsoft.VisualStudio.QualityTools.UnitTestFramework.dll
UnitTestApp1/bin/Debug/UnitTestApp1.dll
UnitTestApp1/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ConsoleApp1/bin/Debug/ConsoleApp1.vshost.exe
ConsoleApp1/bin/Debug/ConsoleApp1.exe
ConsoleApp1/bin/Debug/ConsoleApp1.exe.config
ConsoleApp1/bin/Debug/ConsoleApp1.vshost.exe.config
ConsoleApp1/bin/Debug/ConsoleApp1.vshost.exe.manifest
ConsoleApp1/obj/Debug/ConsoleApp1.csproj.FileListAbsolute.txt
UnitTestApp1/obj/Debug/UnitTestApp1.csproj.FileListAbsolute.txt
.vs/ConsoleApp1/v14/.suo
ConsoleApp1/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ConsoleApp1/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
UnitTestApp1/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
